/* Javier Ortín Rodenas  UO299855*/
/* Comentario con las reglas generales TODO:cambiar luego */
/* Todos los selectores han de tener un comentario con su especificidad*/


/*Especificidad 001*/
body { 
    font-family: "Tahoma", sans-serif;
    margin: 0pt;
}

/*Especificidad 002*/
/*Regla para las migas*/
body > p:first-of-type {
    font-size: 1.2em;
    margin: 8pt;
}

/*Especifidad 002 */
header a {
    color:#f4fe7b;
    text-decoration-line: none;
}

/*Especifidad 012*/
header a:hover {
    color : #bec75e;
}

/*Especificidad 001 */
header {
    background-color: #263e5f;
    padding: 8pt;
}

/*Especificidad 002*/
header h1 {
    margin:0pt;
}

/* Especificidad 001 */
main {
    margin: 8pt;
}

/*Especificidad 011 */
a.active {
    color:#ee843d;
    font-weight: bold;
}