/* Javier Ortín Rodenas  UO299855*/
/* Comentario con las reglas generales TODO:cambiar luego */
/* Todos los selectores han de tener un comentario con su especificidad*/


/*Especificidad 001*/
body { 
    font-family: "Tahoma", sans-serif;
    background-color: #f4f4f4;
}

/*Especificidad 001 */
header {
    background-color: #263e5f;
}

/*Especifidad 002 */
header a {
    color:#f4fe7b;
    text-decoration-line: none;
    font-size: 1.1em;
}

/*Especifidad 012*/
header a:hover {
    color : #bec75e;
}

/*Especificidad 013 */
header > nav > a.active {
    color:#ee843d;
    font-weight: bold;
}

/*Especificidad 023 */
header > nav > a.active:hover, a:hover {
    color:#c0692e;
}

/*Especificidad 002*/ 
 a {
    color: #1e88e5;
}

/*Especificidad 002*/
/*Regla para las migas*/
body > p:first-of-type {
    font-size: 0.8em;
}

/*Especificidad 001*/
section {
    background-color : #FFFF;
}

/*Especificidad 001*/
dt {
    font-weight : bold;
}

/*Especificidad 002*/
aside {
    background-color: #f9f9f9;
}

/*Especificidad 001*/
table {
    border: black;
}

/*Especificidad 001*/
table caption {
    font-weight: bold;
    font-size: 1.2em;
}

/*Especificidad 012*/
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

/* Para el html incrustado */
/*Especificidad 002*/
section > article {
    border: 0.15em dashed #666;
    background-color: #fafafa;
}