/* Javier Ortín Rodenas  UO299855*/
/* Comentario con las reglas generales TODO:cambiar luego */
/* Todos los selectores han de tener un comentario con su especificidad*/


/* TODO poner código para el SVG y el div del mapa */

/*Especificidad 001*/
body {
    margin: 0;
    padding: 0;
}


/*Especificidad 001, 002*/
header, header > section {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2ex;
}


/*Especificidad 002*/
header button {
    display: none;
}

/*Especificidad 002*/
header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*Aunque afecte a los hijos se especifica en el padre*/ 
    flex-grow: 1;
}

/*Especificidad 001*/
main {
    margin: 2ex;
}

/*Especificidad 003*/
main section + h3 {
    margin-top: 4ex;
}

/*Especificidad 013*/
main > section > h4:first-child {
    margin-top:0em;
}

section > ul:last-child, section > p:last-child {
    margin-bottom : 0em;
}

/*Especificidad 002*/
/*Regla para las migas*/
body > p:first-of-type {
    margin: 2ex;
}

/*Especificidad 002, 002*/
 main > section, main > aside {
    padding: 2ex;
    margin: 2vw;
}

/* HTML incrustado */
/*Especificidad 002*/
section > article {
    padding: 2ex;
    margin: 2vw;
}

/*Especificidad 001*/
picture {
    display: flex;
    justify-content: center;
}

/*Especificidad 001*/
video {
    display: block;
    margin : 0 auto;
}

/*Especificidad 001*/
table {
    width : 100%;
}

/*Especificidad 002, 002*/
table th, table td {
    text-align: left;
    padding: 1ex;
}

/*Especificidad 002, 002*/
main ul, main ol {
    display: flex;
    flex-direction: column;
    row-gap: 2ex;
}

/* Noticias de index.html */
/*Especificidad 002*/
p + h3 {
    margin-top:4ex
}

/* Regla para el mapa dinámico TODO revisar*/
/*Especificidad 003*/
main > section > div {
    height: 100vh;
    width: 100%;
}

/*Reglas dedicadas a la adaptabilidad */
@media screen and (min-width: 320px) and (max-width: 799px) {

    /*Especificidad 012*/
    body > p:first-of-type {
        display: none;
    }

    /*Especificidad 001*/
    header {
        flex-direction: column;
    }

    /*Especificidad 002*/
    header > nav {
        display: none;
        flex-direction: column;
        padding-bottom: 2ex;
    }
    
    /*Especificidad 002*/
    header  button {
        display: block;
    }

    /*Especificidad 001*/
    video {
        width: 100%;
        height: auto;
    }

    /*Especificidad 001*/
    audio {
        width: 100%;
    }

    /*Especificidad 003*/
    article h2 + img {
        max-width: 100%;
    }
}