/* Javier Ortín Rodenas  UO299855*/
/* Comentario con las reglas generales TODO:cambiar luego */
/* Todos los selectores han de tener un comentario con su especificidad*/

/*Especificidad 001*/
body {
    margin: 0;
    padding: 0;
}

/*Especificidad 001*/
header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Especificidad 002*/
header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*Aunque afecte a los hijos se especifica en el padre*/ 
    flex-grow: 1;
    /* usar propiedad GAP de flex*/
}

/*Especificidad 001*/
main {
    margin: 2ex;
}

/*Especificidad 003*/
main section + h2 {
    margin-top: 4ex;
}

/*Especificidad 002*/
/*Regla para las migas*/
body > p:first-of-type {
    margin: 2ex;
}

/*Especificidad 001, 001*/
section, aside {
    padding: 2ex;
    margin: 2vw 2vw;
}

/*Especificidad 001*/
picture {
    display: flex;
    justify-content: center;
}

/*Especificidad 001*/
video {
    display: block;
    margin : 0 auto;
}

/*Especificidad 001*/
table {
    width : 100%;
}

/*Especificidad 002, 002*/
table th, table td {
    text-align: left;
    padding: 1ex;
}

/*Especificidad 002, 002*/
main ul, main ol {
    display: flex;
    flex-direction: column;
    row-gap: 2ex;
}

/*Reglas dedicadas a la adaptabilidad */
@media screen and (min-width: 320px) and (max-width: 799px) {

    /*Especificidad 012*/
    body > p:first-of-type {
        display: none;
    }

    /*Especificidad 001*/
    header {
        flex-direction: column;
        padding-bottom: 2ex;
    }

    /*Especificidad 002*/
    header > nav {
        flex-direction: column;
    }

    /*Especificidad 001*/
    video {
        width: 100%;
        height: auto;
    }

    /*Especificidad 001*/
    audio {
        width: 100%;
    }

    /*Especificidad 003*/
    article h2 + img {
        max-width: 100%;
    }
}