/* Javier Ortín Rodenas  UO299855*/
/* Comentario con las reglas generales TODO:cambiar luego */
/* Todos los selectores han de tener un comentario con su especificidad*/


/*Especificidad 001*/
body { 
    font-family: "Tahoma", sans-serif;
    background-color: #f4f4f4;
}

/*Especificidad 001 */
header {
    background-color: #000000;
}

/*Especificidad 002*/
header > section {
    background-color: inherit;
}

/*Especificidad 002 */
header a {
    color:#f4fe7b;
    text-decoration-line: none;
    font-size: 1.2em;
}

/*Especificidad 002*/
header button {
    background-color: #000000;
    color: #f4fe7b;
    border-color: #f4fe7b;
}

/*Especificidad 012*/
header a:hover {
    color : #D0D78E;
}

/*Especificidad 012*/
header button:hover {
    color : #D0D78E;
    border-color : #D0D78E;
}

/*Especificidad 013 */
header > nav > a.active {
    color: #ff6600;
    font-weight: bold;
    font-size: 1.3em;
}

/*Especificidad 023 */
header > nav > a.active:hover {
    color:#c0692e;
}

/*Especificidad 002*/ 
a {
    color: #0f426f;
}

/*Especificidad 011*/
a:hover {
    color: #144c7c
}

/*Especificidad 002*/
/*Regla para las migas*/
body > p:first-of-type {
    font-size: 0.8em;
}

/*Especificidad 001*/
section {
    background-color : #FFFF;
}

/*Especificidad 001*/
dt {
    font-weight : bold;
}

/*Especificidad 002*/
aside {
    background-color: #f9f9f9;
}

/*Especificidad 001*/
table {
    border: black;
}

/*Especificidad 001*/
table caption {
    font-weight: bold;
    font-size: 1.2em;
}

/*Especificidad 012*/
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

/* Para el contenido incrustado */
/*Especificidad 002*/
section > article {
    border: 0.15em dashed #666;
    background-color: #fafafa;
}