/* Javier Ortín Rodenas  UO299855*/
/* Todos los selectores han de tener un comentario con su especificidad*/


/*Especificidad 001*/
body { 
    font-family: "Tahoma", sans-serif;
    background-color: #f4f4f4;
    color: #000000;
}

/*Especificidad 001 */
header {
    background-color: #000000; /* He revisado esta advertencia y comprobado que el contraste es adecuado. El header como tal hereda el color de primer plano del body, pero no tiene texto como tal. Sus descendientes tienen selectores más específicos que redefinen el color del primer plano, luego no tiene sentido poner un color de primer plano en en header solo para ser redefinido más tarde (se introduce una capa de herencia innecesaria).*/
}

/*Especificidad 002 */
header a {
    color:#f4fe7b; /* He revisado que el contraste es suficiente. El color de fondo se hereda del header.*/
    text-decoration-line: none;
    font-size: 1.2em;
}

/*Especificidad 002*/
header button {
    background-color: #000000;
    color: #f4fe7b;
    border-color: #f4fe7b;
}

/*Especificidad 012*/
header a:hover {
    color : #D0D78E; /* He revisado que el contraste es suficiente. El color de fondo se hereda del header.*/
}

/*Especificidad 012*/
header button:hover {
    color : #D0D78E; /* He revisado que el contraste es suficiente. El color de fondo se hereda del header.*/
    border-color : #D0D78E;
}

/*Especificidad 013 */
header > nav > a.active {
    color: #ff6600; /* He revisado que el contraste es suficiente. El color de fondo se hereda del header.*/
    font-weight: bold;
    font-size: 1.3em;
}

/*Especificidad 001*/ 
a {
    color: #0f426f;  /* He revisado que el contraste es suficiente. Según el contexto, el color de fondo puede heredarse de body o de contenedores como section, aside, article (he revisado todos los posibles casos y pasa la normativa AAA en todos ellos).*/
}

/*Especificidad 012*/
/*Regla para las migas*/
body > p:first-of-type {
    font-size: 0.8em;
}

/*Especificidad 001*/
section {
    background-color : #FFFFFF; /* He revisado que el contraste es suficiente. El color de primer plano se hereda de body. */
}

/*Especificidad 001*/
dt {
    font-weight : bold;
}

/*Especificidad 001*/
aside {
    background-color: #f9f9f9; /* He revisado que el contraste es suficiente. El color de primer plano se hereda de body.*/
}

/*Especificidad 001*/
table {
    border: black;
}

/*Especificidad 002*/
table caption {
    font-weight: bold;
}

/*Especificidad 012*/
table tr:nth-child(odd) {
    background-color: #f1f1f1; /* He revisado que el contraste es suficiente. El color de primer plano se hereda de body.*/
}

/* Para el contenido incrustado */
/*Especificidad 002*/
section > article {
    border: 0.15em dashed #666;
    background-color: #fafafa; /* He revisado que el contraste es suficiente. El color de primer plano se hereda de body.*/
}