/* Javier Ortín Rodenas  UO299855*/
/* Todos los selectores han de tener un comentario con su especificidad*/

/*Especificidad 001*/
body {
    margin: 0;
    padding: 0;
}

/*Especificidad 001*/
h1 {
    margin-left: 2ex;
}

/*Especificidad 001*/svg {
    max-width: 100%;
}

/*Especificidad 001*/
header, header > section {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2ex;
}


/*Especificidad 002*/
header button {
    display: none;
}

/*Especificidad 002*/
header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*Aunque afecte a los hijos se especifica en el padre*/ 
    flex-grow: 1;
}

/*Especificidad 001*/
main {
    margin: 2ex;
}

/*Especificidad 003*/
main section + h3 {
    margin-top: 4ex;
}

/*Especificidad 013*/
main > section > h4:first-child {
    margin-top:0em;
}

section > ul:last-child, section > p:last-child {
    margin-bottom : 0em;
}

/*Especificidad 002*/
/*Regla para las migas*/
body > p:first-of-type {
    margin: 2ex;
}

/*Especificidad 002, 002*/
 main > section, main > aside {
    padding: 2ex;
    margin: 2vw;
}

/* HTML incrustado */
/*Especificidad 002*/
section > article {
    padding: 2ex;
    margin: 2vw;
}

/* Para el contenido incrustado, da márgenes a encabezados que no sean el primero*/
/*Especificidad 002*/
article h4:nth-child(n+2) {
    margin-top: 2.5em;
}

/*Especificidad 001*/
picture {
    display: flex;
    justify-content: center;
}

/*Especificidad 001*/
table {
    width : 100%;
}

/*Especificidad 002, 002*/
table th, table td {
    text-align: left;
    padding: 1ex;
}

/*Especificidad 002, 002*/
main ul, main ol {
    display: flex;
    flex-direction: column;
    row-gap: 2ex;
}

/*Especificidad 002*/
main dt {
    margin-top:2ex;
}

/* Noticias de index.html */
/*Especificidad 002*/
p + h3 {
    margin-top:4ex
}

/* Regla para el mapa dinámico*/
/* He optado por incluir el div dentro de la sección del input correspondiente. Por tanto, he modificado ligeramente el selector*/
/*Especificidad 003*/
main > section > div {
    height: 100vh;
    width: 100%;
    margin-top: 2ex;
}

/*Especificidad 001*/
input {
    max-width: 100%;
    text-overflow: ellipsis;
}

/*Especificidad 002*/
form label {
    display: flex;
    flex-direction: column;
    row-gap: 2ex;
}

/*Especificidad 002*/
form > h3{
    margin-bottom: 0em;
}

/* Regla para los selectores de archivos de circuito.js */
/*Especificidad 012*/
label + input[type="file"] {
    display: block;
    margin-top:2ex;
}

/*Especificidad 002*/
h2 ~ form {
    display: flex;
    flex-direction: column;
    row-gap:2ex;
    align-items: baseline;
}

/*Especificidad 002*/
form > textarea {
    width: 100%;
}

/* Para las imágenes del HTML del circuito incrustado */
/*Especificidad 003, 003*/
section article img, section article video {
    width: 100%;    
}

/*Reglas dedicadas a la adaptabilidad */
@media screen and (min-width: 320px) and (max-width: 799px) {

    /*Especificidad 012*/
    body > p:first-of-type {
        display: none;
    }

    /*Especificidad 003*/
    main > section > div {
        height: 75vh; /* Hay que redefinir esta propiedad para garantizar la adaptabilidad */
    }

    /*Especificidad 002,002*/
    header > h1, header > button{
        margin-left: 0em;
    }

    /*Especificidad 001*/
    header {
        flex-direction: row; /* Hay que redefinir esta propiedad para garantizar la adaptabilidad */
        flex-wrap: wrap;
        justify-content: center;
    }

    /*Especificidad 002*/
    header > nav {
        flex-direction: column; /* Hay que redefinir esta propiedad para garantizar la adaptabilidad */
        align-items: center;
        padding-bottom: 2ex;
        width: 100vw;
    }

    /*Especificidad 012*/
    button[aria-expanded="true"] ~ nav {
        display: flex;
    }

    /*Especificidad 012*/
    button[aria-expanded="false"] ~ nav {
        display: none;
    }
    
    /*Especificidad 002*/
    header  button {
        display: block; /* Hay que redefinir esta propiedad para garantizar la adaptabilidad */
    }

    /*Especificidad 001*/
    video {
        width: 100%;
        height: auto;
    }

    /*Especificidad 001*/
    audio {
        width: 100%;
    }

    /*Especificidad 003*/
    article h2 + img {
        max-width: 100%;
    }
}